.security-form {
  width: 100%;
  color: #333333;
}

.security-form__quick-links {
  margin-bottom: 1.5rem;
  text-align: right;
  color: #374151;
  font-size: 0.875rem;
}

.security-form__quick-link-active {
  color: #295376;
  font-weight: 600;
}

.security-form__form {
  margin-bottom: 2.5rem;
}

.security-form__section {
  margin-bottom: 1.5rem;
}
